.elements {
  margin-bottom: 68px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
}

@media (max-width: 426px) {
  .elements {
    margin-bottom: 48px;
  }
}