.form-profile__fieldset {
  all: unset;
  display: flex;
  margin-bottom: 48px;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 800px) {
  .form-profile__fieldset {
    margin-bottom: 45px;
  }
}